.featured-categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.category-item {
    flex: 1 1 calc(100% / 5 - 20px);
    /* flex-basis: calc(100% / 9 - 8px); */
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.category-item:hover {
    border: 1px solid #BCE3C9;
    box-shadow: 10px 10px 10px rgba(42, 41, 41, 0.1);
    cursor: pointer;
}

.category-item img {
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.category-item img:hover {
    transform: scale(1.1);
}

.category-item h3 {
    font-size: 17px;
    margin: 0;
}

.category-item h3 a {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

.category-item p {
    font-size: 12px;
    color: #555;
    margin: 5px 0 0;
}

/* .custom-colored{
    background-color: #dee2e6;
    transition: all 0.3s ease;
}

.custom-colored:hover{
    background-color: #3BB77E;
    color: #ffffff;
} */



.swiper-custom {
    margin-left: initial !important;
    margin-right: initial !important;
    position: initial !important;
}

.custom-button-position {
    margin-top: -100px !important;
    height: 30px !important;
    width: 30px !important;
    background-color: #dee2e6;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.custom-button-position:hover {
    background-color: #3BB77E;
    color: #ffffff;
}

.swiper-button-prev-custom {
    left: var(--swiper-navigation-sides-offset, 1413px) !important;
}

.custom-button-position::after {
    font-size: 18px !important;

}

.grid-item{
    all: unset
}