.middle-font-size {
    font-size: 18px;
    font-weight: 400;
}

.bi-chevron-compact-down , .bi-chevron-compact-up{
    margin-left: 5px;
}

.align-items-center-active {
    color: #3BB77E;
}

.align-items-center:hover {
    cursor: pointer;
}

.middle-content>div:hover {
    color: #3BB77E;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.custom-gap{
    gap: 38px !important;
}

.custom-second-padding {
  transition: top 0.3s ease-in-out;
  top: -200px;
}

.fixed-navbar {
  position: fixed;
  z-index: 11;
  top: -20px;
  transition: top 0.3s ease-in-out;
  opacity: 1;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}
.tooltip-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px; 
  z-index: 999;
  width: 30vw;
}
