.feature-cart {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.feature-img-1,
.feature-img-2,
.feature-img-3 {
    flex: 1;
    height: 280px;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}



/* Different backgrounds */
.feature-img-1 {
    background-image: url('/feature-category/banner-1.png');
}

.feature-img-2 {
    background-image: url('/feature-category/banner-2.png');
}

.feature-img-3 {
    background-image: url('/feature-category/banner-3.png');
}

.feature-img-1-text {
    width: 200px;
}

.feature-img-1-text h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;

}
.feature-img-1-text button {
    background-color: #3BB77E;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 125px;
    text-align: start;
    transition: width 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.feature-img-1-text button span {
    margin-left: 4px;
    transition: margin-left 0.3s ease;
}

/* Animate span on button hover */
.feature-img-1-text button:hover span {
    margin-left: 14px;
}

.feature-img-1-text:hover h3{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.feature-img-1-text button:hover {
    background-color: #FDC040;
    width: 135px;
}
