.list-unstyled li a {
    font-size: 15px;
    color: #253D4E;
    display: block;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.list-unstyled li a:hover {
    color: #3BB77E;
    text-decoration: none;
    transform: translateX(8px);
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3BB77E;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #ffffff;
    transition: transform 0.3s ease-in-out;
}

.social-icons:hover{
    transform: translateY(-5px);
}
